<nav
  class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light fixed-nav-mobile"
  id="ftco-navbar"
>
  <div class="container">
    <a class="navbar-brand" href="/home">Limo<span>Rental</span></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#ftco-nav"
      aria-controls="ftco-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li routerLinkActive="active" class="nav-item">
          <a href="/home" class="nav-link">Home</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a href="/service" class="nav-link">Services</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a href="/pricing" class="nav-link">Pricing</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a href="/cars" class="nav-link">Cars</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a href="/book" class="nav-link">Book</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a href="/contact" class="nav-link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->

<div
  class="hero-wrap ftco-degree-bg parallex"
  style="background-image: url('../../assets/images/bg_0.jpg')"
  data-stellar-background-ratio="0.5"
>
<div class="overlay"></div>
<div class="container">
  <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
    <div class="col-lg-8">
      <div class="text w-100 text-center mb-md-5 pb-md-5">
        <h1 class="mb-4">Our Services</h1>
      </div>
    </div>
  </div>
</div>

</div>


<section class="ftco-section ftco-no-pt bg-light">
  <div class="container">
    <div class="row m-2">
      <h3>Airport Transfers</h3>
      <p>Arrive in style and comfort with our reliable airport transfer service. Whether you’re landing at Nice Côte d'Azur Airport or departing from another regional hub, our chauffeurs will ensure a timely and stress-free journey.
      </p>
    </div>
    <div class="row m-2">
      <h3>Corporate Travel</h3>
      <p>
        Impress clients and colleagues alike with our professional limousine service. From important meetings to corporate events, our vehicles provide the perfect environment to relax and prepare while en route
      </p>
    </div>
    <div class="row m-2">
      <h3>Special Occasions</h3>
      <p>
        Make your special moments even more memorable with Limousines Antibes. Whether it’s a wedding, anniversary, or prom, our elegant limousines add a touch of sophistication to any occasion
      </p>
    </div>
    <div class="row m-2">
      <h3>Private Tours</h3>
      <p>
        Discover the breathtaking beauty of the French Riviera in the comfort of a luxury limousine. Our private tours are designed to give you a personalized experience, taking you through the most picturesque locations
      </p>
    </div>

  </div>
</section>
