<nav
  class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
  id="ftco-navbar"
>
  <div class="container">
    <a class="navbar-brand" routerLink="/home">Limo<span>Rental</span></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#ftco-nav"
      aria-controls="ftco-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a routerLink="/home" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/about" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a routerLink="/services" class="nav-link">Services</a>
        </li>
        <li class="nav-item">
          <a routerLink="/pricing" class="nav-link">Pricing</a>
        </li>
        <li class="nav-item">
          <a routerLink="/cars" class="nav-link">Cars</a>
        </li>
        <li class="nav-item">
          <a routerLink="/contact" class="nav-link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->

<div
  class="hero-wrap ftco-degree-bg parallex"
  style="background-image: url('../../assets/images/bg_0.jpg')"
  data-stellar-background-ratio="0.5"
>
<div class="overlay"></div>
<div class="container">
  <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
    <div class="col-lg-8">
      <div class="text w-100 text-center mb-md-5 pb-md-5">
        <h1 class="mb-4">The most excited way for Limo</h1>
      </div>
    </div>
  </div>
</div>

</div>


<section class="ftco-section ftco-no-pt bg-light">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-12	featured-top">
        <div class="row no-gutters">
          <div class="col-md-4 d-flex align-items-center">
            <form action="#" class="request-form bg-primary">
              <h2>Make your trip</h2>
              <div class="form-group">
                <label for="" class="label">Pick-up location</label>
                <input type="text" class="form-control" placeholder="City, Airport, Station, etc">
              </div>
              <div class="form-group">
                <label for="" class="label">Drop-off location</label>
                <input type="text" class="form-control" placeholder="City, Airport, Station, etc">
              </div>
              <div class="d-flex">
                <div class="form-group mr-2">
                  <label for="" class="label">Pick-up date</label>
                  <input type="text" class="form-control" id="book_pick_date" placeholder="Date">
                </div>
                <div class="form-group ml-2">
                  <label for="" class="label">Drop-off date</label>
                  <input type="text" class="form-control" id="book_off_date" placeholder="Date">
                </div>
              </div>
              <div class="form-group">
                <label for="" class="label">Pick-up time</label>
                <input type="text" class="form-control" id="time_pick" placeholder="Time">
              </div>
              <div class="form-group">
                <input type="submit" value="Get a quote" class="btn btn-primary py-3 px-4">
              </div>
            </form>
          </div>
          <div class="col-md-8 d-flex align-items-center">
            <div class="services-wrap rounded-right w-100">
              <div class="row d-flex mb-4">
                <div class="col-md-4 d-flex align-self-stretch ">
                  <div class="services w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                      <span class="flaticon-route"></span>
                    </div>
                    <div class="text w-100">
                      <h3 class="heading mb-2">Choose Your Pickup Location</h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 d-flex align-self-stretch ">
                  <div class="services w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                      <span class="flaticon-handshake"></span>
                    </div>
                    <div class="text w-100">
                      <h3 class="heading mb-2">Select the Best Deal</h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 d-flex align-self-stretch ">
                  <div class="services w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-rent"></span></div>
                    <div class="text w-100">
                      <h3 class="heading mb-2">Reserve Your Rental Car</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
</section>
