.parallex {
  background-attachment: fixed;
}

.fixed-nav-mobile {
  position: fixed;
}

.nav-remove-border {
  top: 0px;
}

.nav-background-black {
  background-color: black !important;
}

.image-dim {
  width: 50%;
  height: auto;
}

.car-img-dim {
  width: 25%;
  height: auto;
}
